body {
  background-color: #f8f9fa; /* Light background */
  color: #212529; /* Dark text */
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212; /* Dark background */
  color: #ffffff; /* Light text */
}

/* Additional styling for dark mode elements */
body.dark-mode .btn-dark {
  background-color: #444444;
}

body.dark-mode .btn-light {
  background-color: #888888;
}